<div
  id="alert-3"
  class="fixed z-50 flex justify-end p-4 mb-4 text-white bg-green-500 rounded-lg top-14 right-5"
  role="alert"
  *ngIf="success"
>
  <svg
    aria-hidden="true"
    class="flex-shrink-0 w-5 h-5"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
      clip-rule="evenodd"
    ></path>
  </svg>
  <span class="sr-only">Info</span>
  <div class="ml-3 mr-2 text-sm font-medium">
    Project has been updated successfully!
  </div>
  <button
    type="button"
    class="ml-auto -mx-1.5 -my-1.5 bg-green-50 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex h-8 w-8"
    data-dismiss-target="#alert-3"
    aria-label="Close"
  >
    <span class="sr-only">Close</span>
    <svg
      aria-hidden="true"
      class="w-5 h-5"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>
</div>
<div class="block p-3 bg-white border border-gray-200 rounded-lg shadow">
  <div class="flex justify-between py-2 align-middle">
    <h5 class="px-3 mb-2 text-3xl font-bold tracking-tight text-gray-900">
      Project Details
    </h5>
  </div>
  <div class="w-1/5 m-3 max-sm:w-1/2">
    <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900"
      >Search</label
    >
    <input
      type="text"
      id="first_name"
      [(ngModel)]="term"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-[#A0C3D2] focus:border-[#A0C3D2] block w-full p-2.5 rounded-xl"
      placeholder="Input here..."
    />
  </div>
  <h3 class="my-3 ml-2 text-2xl font-bold text-gray-700">List Document Done</h3>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-center text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3">No</th>
          <th scope="col" class="px-6 py-3">Document</th>
          <th scope="col" class="px-6 py-3">Status</th>
          <th scope="col" class="px-6 py-3">File</th>
          <!-- <th scope="col" class="px-6 py-3">
            <span class="sr-only">Edit</span>
          </th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!projectDone.length; else tes">
          <td colspan="4" class="px-6 py-4 text-center">Belum ada data.</td>
        </tr>
        <ng-template #tes>
          <tr
            class="bg-white border-b hover:bg-gray-50"
            *ngFor="
              let item of projectDone
                | filter : term
                | paginate : { itemsPerPage: itemsPerPage, currentPage: p };
              index as i
            "
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              {{ i + 1 }}
            </th>
            <td class="px-6 py-4">
              {{ item.Category.code }} ({{ item.Category.name }})
            </td>
            <td class="px-6 py-4">
              <span
                class="px-4 py-2 text-xs font-medium text-green-800 bg-green-100 rounded-full"
                >{{ item.status == 0 ? "Progress" : "Done" }}</span
              >
            </td>
            <td class="px-6 py-4">
              <!-- Modal toggle -->
              <button
                data-modal-target="large-modal"
                data-modal-toggle="large-modal"
                class="text-white bg-gradient-to-r from-[#BD3246] via-[#8D0033] to-[#740021] hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 w-fit"
                type="button"
                (click)="getPath(item.document, item.Category.name)"
              >
                <i class="fa-solid fa-file"></i> File
              </button>
              <!-- Main modal -->
              <div
                id="large-modal"
                tabindex="-1"
                class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full"
              >
                <div class="relative w-full h-full max-w-4xl md:h-auto">
                  <!-- Modal content -->
                  <div class="relative bg-white rounded-lg shadow">
                    <!-- Modal header -->
                    <div
                      class="flex items-center justify-between p-5 border-b rounded-t"
                    >
                      <h3 class="text-xl font-medium text-gray-900">
                        Document {{ documentName }}
                      </h3>
                      <button
                        type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                        data-modal-hide="large-modal"
                      >
                        <svg
                          aria-hidden="true"
                          class="w-5 h-5"
                          fill="currentColor"
                          viewBox="0 0 20 20"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"
                          ></path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                      </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-6 space-y-6">
                      <ngx-extended-pdf-viewer
                        [src]="path"
                        width="100%"
                        height="100%"
                      ></ngx-extended-pdf-viewer>
                    </div>
                    <!-- Modal footer -->
                    <!-- <div
                      class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b"
                    >
                      <button
                        data-modal-hide="large-modal"
                        type="button"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                      >
                        I accept
                      </button>
                      <button
                        data-modal-hide="large-modal"
                        type="button"
                        class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10"
                      >
                        Decline
                      </button>
                    </div> -->
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
    <div *ngIf="projectDone.length > 6" class="m-3 text-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
  <div class="grid gap-4 text-center lg:grid-cols-2">
    <div>
      <h3 class="my-3 ml-2 text-2xl font-bold text-gray-700">
        Progress Project
      </h3>
      <div class="grid grid-cols-1 gap-4 text-center">
        <!-- <canvas id="progressChart" class="h-96"></canvas> -->
        <apx-chart
          *ngIf="progress > 0; else noData"
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [plotOptions]="chartOptions.plotOptions"
          [labels]="chartOptions.labels"
          [fill]="chartOptions.fill"
        ></apx-chart>
        <ng-template #noData>
          <div class="flex flex-col items-center justify-center h-72">
            <h3 class="text-2xl font-bold text-gray-700">No Data</h3>
          </div>
        </ng-template>
      </div>
      <div
        class="block w-full px-6 py-3 text-left bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100"
      >
        <div class="flex justify-end">
          <button
            (click)="showModal = true"
            class="block w-full md:w-auto text-white bg-[#F49D1A] hover:bg-[#FFC93C] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
            type="button"
          >
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        </div>
        <div
          id="small-modal"
          tabindex="-1"
          class="fixed z-50  {{
            !showModal && 'hidden'
          }} w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full flex justify-center content-center shadow-2xl"
        >
          <div class="relative w-full max-w-md flex items-center">
            <!-- Modal content -->
            <div class="relative bg-[#F5F5F5] rounded-lg shadow w-full">
              <!-- Modal header -->
              <div
                class="flex items-center justify-between p-2 border-b rounded-t"
              >
                <h3 class="text-xl font-medium text-gray-900">Add Obstacle</h3>
                <button
                  type="button"
                  class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex"
                  (click)="showModal = false"
                >
                  <svg
                    aria-hidden="true"
                    class="w-5 h-5"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="sr-only">Close modal</span>
                </button>
              </div>
              <!-- Modal body -->
              <div class="px-6 py-2 space-y-6">
                <form [formGroup]="obstacleForm" (submit)="obstacleSubmit()">
                  <div class="mb-6">
                    <label
                      for="email"
                      class="block mb-2 text-sm font-medium text-gray-900"
                      >Obstacle</label
                    >
                    <textarea
                      id="message"
                      rows="4"
                      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Write your thoughts here..."
                      formControlName="obstacle"
                      [(ngModel)]="isiText"
                    ></textarea>
                  </div>
                  <button
                    type="submit"
                    class="text-white items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5"
                  >
                    Submit
                  </button>
                </form>
              </div>
              <!-- Modal footer -->
            </div>
          </div>
        </div>
        <h5 class="my-2 text-base font-bold tracking-tight text-gray-700">
          Next Process :
          <span>{{ nextProcess.code }} ({{ nextProcess.name }})</span>
        </h5>
        <h5 class="text-base font-bold text-gray-700">Obstacle :</h5>
        <p
          class="text-base text-center text-gray-700"
          *ngIf="!detailsProject.obstacle; else show"
        >
          Belum ada obstacle
        </p>
        <ng-template #show>
          <div class="overflow-y-auto">
            {{ detailsProject.obstacle }}
          </div>
        </ng-template>
      </div>
    </div>
    <div>
      <h3 class="my-3 ml-2 text-2xl font-bold text-gray-700">
        Update progress Document
      </h3>
      <div class="relative p-3 overflow-x-auto text-left sm:rounded-lg">
        <form [formGroup]="form" (submit)="submit()">
          <div class="">
            <label
              for="first_name"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Document</label
            >
            <select
              id="countries"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              formControlName="categoryId"
            >
              <option
                *ngFor="let item of projectsProgress; index as i"
                value="{{ item.Category.id }}"
              >
                {{ item.Category.name }}
              </option>
            </select>
          </div>
          <div class="my-3">
            <label
              class="block mb-2 text-sm font-medium text-gray-900"
              for="file_input"
              >Upload file</label
            >
            <input
              class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none"
              id="file_input"
              type="file"
              formControlName="document"
              (change)="onChange($event)"
            />
          </div>
          <div class="mt-6 lg:ml-32">
            <button
              type="submit"
              class="text-white bg-[#3E54AC] hover:bg-[#2B3467] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center sm:mr-2 max-sm:mb-3"
            >
              Submit
            </button>
            <button
              type="reset"
              class="text-white bg-[#93BFCF] hover:bg-[#6096B4] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
            >
              Reset
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
