<div
  id="alert-3"
  class="fixed z-50 flex justify-end p-4 mb-4 text-white bg-red-500 rounded-lg top-14 right-5"
  role="alert"
  *ngIf="success"
>
  <svg
    aria-hidden="true"
    class="flex-shrink-0 w-5 h-5"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
      clip-rule="evenodd"
    ></path>
  </svg>
  <span class="sr-only">Info</span>
  <div class="ml-3 mr-2 text-sm font-medium">
   Project has been deleted successfully!
  </div>
  <button
    type="button"
    class="ml-auto -mx-1.5 -my-1.5 bg-green-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex h-8 w-8  "
    data-dismiss-target="#alert-3"
    aria-label="Close"
  >
    <span class="sr-only">Close</span>
    <svg
      aria-hidden="true"
      class="w-5 h-5"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>
</div>
<div class="block p-3 bg-white border border-gray-200 rounded-lg shadow">
  <div class="flex justify-between py-2 align-middle">
    <h5 class="px-3 mb-2 font-bold tracking-tight text-gray-900 md:text-base lg:text-2xl sm:text-sm">
      List Projects {{ sectionFound.code }} ({{ sectionFound.name }})
    </h5>
    <a
      routerLink="/projectCreate"
      class="text-white bg-gradient-to-r from-[#A4BE7B] via-[#5F8D4E] to-[#285430] hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 h-fit"
    >
      <i class="fa-solid fa-circle-plus"></i> Create
    </a>
  </div>
  <div class="w-1/5 m-3 max-sm:w-1/2">
    <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900"
      >Search</label
    >
    <input
      type="text"
      id="first_name"
      [(ngModel)]="term"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-[#A0C3D2] focus:border-[#A0C3D2] block w-full p-2.5 rounded-xl"
      placeholder="Input here..."
    />
  </div>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-center text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3">No</th>
          <th scope="col" class="px-6 py-3">Name</th>
          <th scope="col" class="px-6 py-3">Progress</th>
          <th scope="col" class="px-6 py-3">Action</th>
          <!-- <th scope="col" class="px-6 py-3">
            <span class="sr-only">Edit</span>
          </th> -->
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b" *ngIf="!projects.length;else show">
          <td colspan="4" class="px-6 py-4">Belum ada data.</td>
        </tr>
        <ng-template #show>
          <tr
          class="bg-white border-b"
          *ngFor="
            let item of projects
              | filter : term
              | paginate : { itemsPerPage: itemsPerPage, currentPage: p };
            index as i
          "
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
          >
            {{ i + 1 }}
          </th>
          <!-- <td class="px-6 py-4">Silver</td> -->
          <td class="px-6 py-4">{{ item.name }}</td>
          <td class="px-6 py-4">
            {{ item.progress == null ? "0%" : item.progress + "%" }}
          </td>
          <td class="px-6 py-4">
            <a
              routerLink="/projectShow/{{ item.id }}"
              class="text-white bg-gradient-to-r from-[#53CDE2] via-[#0278AE] to-[#005792] hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 w-fit"
            >
              <i class="fa-solid fa-eye"></i> Show
            </a>
            <a
              (click)="delete(item.id)"
              class="text-white bg-gradient-to-r from-red-500 via-red-600 to-red-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 w-fit"
              style="cursor:pointer"
            >
              <i class="fa-solid fa-trash"></i> Delete
            </a>
          </td>
        </tr>
        </ng-template>

      </tbody>
    </table>
    <div *ngIf="projects.length >= 10" class="m-3 text-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
