<h5 class="pt-3 mb-2 text-2xl font-bold tracking-tight text-gray-900">
  Create Project
</h5>
<hr />
<form [formGroup]="form" (submit)="submit()">
  <div
    id="alert-2"
    class="flex p-4 mb-4 text-red-50 rounded-lg bg-[#CD0404] w-1/2"
    role="alert"
    *ngIf="errorMsg"
  >
    <svg
      aria-hidden="true"
      class="flex-shrink-0 w-5 h-5"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
        clip-rule="evenodd"
      ></path>
    </svg>
    <span class="sr-only">Info</span>
    <div class="ml-3 text-sm font-medium">
      {{ errorMsg }}
    </div>
    <button
      type="button"
      class="ml-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex h-8 w-8"
      data-dismiss-target="#alert-2"
      aria-label="Close"
    >
      <span class="sr-only">Close</span>
      <svg
        class="w-5 h-5"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
  </div>
  <div class="grid gap-6 mt-3 mb-6 md:grid-cols-1">
    <div class="lg:w-2/6">
      <label
        for="first_name"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Name</label
      >
      <input
        type="text"
        id="first_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Name"
        formControlName="name"
        required
      />
    </div>
    <div class="lg:w-2/6">
      <label
        for="countries"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Section</label
      >
      <select
        id="countries"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        formControlName="sectionId"
      >
        <option value="{{ item.id }}" *ngFor="let item of sections">
          {{ item.code }} ({{ item.name }})
        </option>
      </select>
    </div>
    <div class="lg:w-2/6">
      <label
        for="countries"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Target Time</label
      >
      <select
        id="countries"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        formControlName="targetTime"
      >
        <option value="{{ item }}" *ngFor="let item of months">
          {{ item }}
        </option>
      </select>
    </div>
    <div class="">
      <label
        for="first_name"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Categories</label
      >
      <div class="lg:columns-4 max-sm:columns-2">
        <div
          class="flex items-center p-1 pl-3 m-1 bg-white border rounded-xl"
          *ngFor="let item of categories; index as i"
        >
          <input
            id="{{ i + 1 }}"
            type="checkbox"
            formControlName="category"
            [(ngModel)]="item.checked"
            (change)="updateSelectedValues()"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2"
          />
          <label
            for="{{ i + 1 }}"
            class="w-full py-3 ml-2 text-sm font-medium text-gray-900"
            >{{ item.code }} ({{ item.name }})</label
          >
        </div>
      </div>
    </div>
  </div>
  <button
    type="submit"
    class="text-white bg-[#3E54AC] hover:bg-[#2B3467] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center sm:mr-2 max-sm:mb-3"
  >
    Submit
  </button>
  <button
    type="reset"
    class="text-white bg-[#93BFCF] hover:bg-[#6096B4] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
  >
    Reset
  </button>
</form>
