<form [formGroup]="allChart" (change)="filterAllChart()">
  <div class="mb-3 w-44">
    <label for="countries" class="block mb-2 text-sm font-medium text-gray-900"
      >Year</label
    >
    <select
      id="countries"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-xl focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      formControlName="year"
    >
      <option value="{{ item }}" *ngFor="let item of years">
        {{ item }}
      </option>
    </select>
  </div>
</form>
<div class="grid grid-flow-row grid-cols-2 gap-4 max-md:grid-cols-1">
  <div class="w-full h-full mb-3 bg-gray-50 rounded-2xl">
    <div class="flex items-center justify-between">
      <p class="mx-5 text-base">Project Development</p>
      <form [formGroup]="pjdChart" (change)="filterPJDChart()">
        <div class="mx-5 my-2 w-44">
          <label
            for="countries"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Year</label
          >
          <select
            id="countries"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-xl focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            formControlName="year"
          >
            <option value="{{ item }}" *ngFor="let item of years">
              {{ item }}
            </option>
          </select>
        </div>
      </form>
    </div>
    <div class="flex items-center justify-center p-1">
      <canvas id="progressChart1" class="w-full h-80"></canvas>
    </div>
  </div>
  <div class="w-full h-full mb-3 bg-gray-50 rounded-2xl">
    <div class="flex items-center justify-between">
      <p class="mx-5 my-2 text-base">Process Development</p>
      <form [formGroup]="psdChart" (change)="filterPSDChart()">
        <div class="mx-5 my-2 w-44">
          <label
            for="countries"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Year</label
          >
          <select
            id="countries"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-xl focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            formControlName="year"
          >
            <option value="{{ item }}" *ngFor="let item of years">
              {{ item }}
            </option>
          </select>
        </div>
      </form>
    </div>
    <div class="flex items-center justify-center p-1">
      <canvas id="progressChart2" class="h-80"></canvas>
    </div>
  </div>
  <div class="w-full h-full mb-3 bg-gray-50 rounded-2xl">
    <div class="flex items-center justify-between">
      <p class="mx-5 my-2 text-base">Raw Material Development</p>
      <form [formGroup]="rmdChart" (change)="filterRMDChart()">
        <div class="mx-5 my-2 w-44">
          <label
            for="countries"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Year</label
          >
          <select
            id="countries"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-xl focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            formControlName="year"
          >
            <option value="{{ item }}" *ngFor="let item of years">
              {{ item }}
            </option>
          </select>
        </div>
      </form>
    </div>
    <div class="flex items-center justify-center p-1">
      <canvas id="progressChart3" class="h-80"></canvas>
    </div>
  </div>
  <div class="w-full h-full mb-3 bg-gray-50 rounded-2xl">
    <div class="flex items-center justify-between">
      <p class="mx-5 my-2 text-base">Packaging Material Development</p>
      <form [formGroup]="pmdChart" (change)="filterPMDChart()">
        <div class="mx-5 my-2 w-44">
          <label
            for="countries"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Year</label
          >
          <select
            id="countries"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-xl focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            formControlName="year"
          >
            <option value="{{ item }}" *ngFor="let item of years">
              {{ item }}
            </option>
          </select>
        </div>
      </form>
    </div>
    <div class="flex items-center justify-center p-1">
      <canvas id="progressChart4" class="h-80"></canvas>
    </div>
  </div>
</div>
